


/* #region  blog-details.html*/
     .wp-block-tag-cloud a, .tagcloud a {
padding: 5px 10px !important;
}

/* #endregion  */




.breadcumb-wrapper {
    position: relative;
    z-index: 1; 
}

.breadcumb-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: -1; 
}


.footer-wrapper  {
    position: relative;
    z-index: 1; 
}

.footer-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}